.channelrow {
    display: flex;
    align-items: center;
    width: 70%;
}
.channelrow__text {
    display:flex;
    flex-direction: column;
}
.channelrow__text > p{
    columns: #606060;
    font-size: small !important;
}
.channelrow__logo {
    height: 120px;
    width: 120px;
    margin: 10px 60px;
}
.channelrow__text > h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}